.container-about {
  padding: 2.5rem;
  background-image: url(../../assets/img/fundo.png);
  margin: 0 auto;
  border-radius: 5rem;
  
    .title-page {
      color: #242424;
      border-color: #242424;
      margin-bottom: 1.5rem;
    }
  
    p {
      margin-bottom: 1rem;
      line-height: 1.6;
      color: #555;
    }
  
    .technologies-list {
      margin: 1rem 0;
      padding-left: 1.5rem;
      list-style-type: disc;
  
      li {
        margin-bottom: 1rem;
        color: #242424;
  
        strong {
          color: black;
        }
      }
    }
  }
  