.container-about {
  width: 90%;
  margin: 0 auto;

  h2 {
    margin-bottom: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: 1rem;
      background-color: #ffffff2d;
      padding: 1rem;
      color: #ffffffc0;
      text-align: justify;
    }
  }

  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }
}

@media (max-width: 800px){
  .container-about {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container-about {
    padding: 0.5rem;
  }
}
