.container-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  
  padding: 2.5rem 1.5rem;

  a {
    text-decoration: none;
    color: black;
  }

  .mobile {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .icon {
      font-size: 35px;
      color: #242424;
    }
  }

  //
  .floating-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2rem;
    z-index: 10; // Para garantir que o card fique acima de outros elementos
    animation: fadeIn 0.3s ease; // Animação de entrada
  
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translate(-50%, -40%);
      }
      to {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  
    .container-cv {
      text-align: center;
  
      span {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
  
        p {
          display: flex;
          align-items: center;
          background-color: #f1f0ef;
          border-radius: 2rem;
          padding: 0 0 0 1rem;
          color: #242424;
        }
  
        a {
          margin-left: 0.5rem;
          padding: 1rem;
          background-color: #242424;
          color: white;
          border-radius: 2rem;
        }
      }
  
      .btn-cv {
        padding: 0.5rem 2.5rem;
        background-color: #242424;
        color: white;
        border-radius: 2rem;
      }
    }
    
    
    .copy-success-message {
      color: green;
      position: absolute;
      bottom: 4px;
      right: 65px;
    }
  }

  //rede sociais
  .rede-sociais {
    span {
      color: #00000079;
    }
  }
  
}

