.container-projects {
  .title-page {
    margin: 1rem;
  }

  section {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem auto;

    article {
      margin: 0 1rem;

      h3 {
        margin-bottom: 0.2rem;
      }
    }

    img {
      width: 100%;
      max-width: 350px;
      border: 2px solid black;
    }

    .container-btn {
      margin-top: 0.2rem;
      display: flex;
      justify-content: center;

      a {
        margin: 0 1rem;

        button {
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid silver;
          color: white;
          border-radius: 0.5rem;
          font-size: 15px;
          cursor: pointer;

          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .container-projects {
    .projects {
      margin: 1rem auto;
    }
  }
}
