.container-skills {
  margin: 0 auto;
  background-image: url(../../assets/img/fundo.png);
  padding: 2.5rem 1.5rem;
  border-radius: 5rem;

  h2 {
    margin-bottom: 1rem;
    color: #242424;
    border-color: #242424;
  }

  .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .carousel-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: calc(200%);
    animation: scroll 20s linear infinite;
  }

  .reverse .carousel-list {
    animation: scroll-reverse 20s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .technology-item {
    min-width: min-content;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;

    &:hover {
      transform: scale(1.05);
    }
  }

  .technology-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .technology-name {
    font-size: 1.2rem;
    color: #242424;
  }
}
